<div class="edit-experience-container">
    <form [formGroup]="experienceForm">
      <div class="from-group">
        <label class="center-block">
          <md-input-container fxFlexFill>
            <input mdInput class="form-control" placeholder="Title" formControlName="title" required>
          </md-input-container>
        </label>
      </div>

        <div class="form-group" fxFlexFill>
          <quill-editor
            theme="snow"
            [(ngModel)]="editExperience.text"
            (onContentChanged)="onContentChanged()"
            formControlName="text"
            onSelectionChanged="onSelectionChanged()"></quill-editor>
          </div>
      <div class="tag-input">
        <!--<h3>Tags within an autocomplete component</h3>-->
        <tag-input [(ngModel)]="editExperience.tag"
                   [addOnBlur]="true"
                   [clearOnBlur]="true"
                   [maxItems]="5"
                   formControlName="tags">
          <tag-input-dropdown [autocompleteItems]="autocompleteItems">
          </tag-input-dropdown>
        </tag-input>
      </div>

          <button md-raised-button color="primary" class="edit-summit-button" (click)="onSubmit()">submit</button>
    </form>
</div>

  <!--<div class="experience-editor">-->
  <!--<md-card class="p-0">-->
    <!--<form [formGroup]="articleForm">-->
      <!--<div class="experience-title">-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput formControlName="title" type="text" placeholder="Article Title"/>-->
        <!--</md-input-container>-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput formControlName="description" type="text" placeholder="What is the aritcle about"/>-->
        <!--</md-input-container>-->
      <!--</div>-->
        <!--<quill-editor-->
          <!--theme="snow"-->
          <!--[(ngModel)]="editorData"-->
          <!--(onContentChanged)="onContentChanged()"-->
          <!--onSelectionChanged="onSelectionChanged()"></quill-editor>-->
      <!--<md-input-container><input mdInput [formControl]="tagField" (keyup.enter)="addTag()" /></md-input-container>-->
      <!--<div class="tag-list">-->
        <!--<span *ngFor="let tag of article.tagList" class="tag-default"><i class="icon-close-round" (click)="removeTag(tag)" >-->
        <!--</i>-->
          <!--{{tag}}</span>-->
      <!--</div>-->
    <!--</form>-->
  <!--</md-card>-->
<!--</div>-->
