<div class="alert alert-warning hintDiv" id="hintDiv">
  <strong>Comment should not be empty.</strong>
</div>

<!--comment text-->
<form id="comment" *ngIf="isShowComment" novalidate>
  <div class="comment-text">
    <textarea name="content" autofocus placeholder="add a comment..." maxlength="2000" [(ngModel)]="newCommentContent"></textarea>
    <div style="text-align:right;">
      <button class="btn btn-sm btn-default" style="float:left;" (click)="showComment()">Cancel</button>
      <button class="btn btn-sm btn-info" (click)="addComment(postId)">Comment</button>
    </div>
  </div>
</form>

<div class="comment-list">
  <!--first level comment-->
  <div class="first-level" *ngFor="let comment of comments">
    <div class="meta-top">
      <a href="javascript:void(0);">
        <img class="avatar" [src]="comment.avatar">
      </a>
      <p class="author">
        <a class="name" href="javascript:void(0);">{{comment.commenter}}</a>
      </p>
      <div class="comment-footer clearfix">
        <span class="publish-time pull-left" style="margin-top:0px;">{{comment.postTime}}</span>
        <a *ngIf="comment.commenter == userName" class="like delete" href="javascript:void(0);" (click)="deleteComment(comment)">
          <span>delete</span>
        </a>
        <a class="like delete-reply" href="javascript:void(0);" (click)="showComment()">
          <span>reply</span>
        </a>
      </div>
    </div>
    <p class="content">{{comment.content}}</p>

    <!--second level comment-->
    <div class="second-level" *ngFor="let reply of comment.replies">
      <p class="reply">
        <a href="javascript:void(0);" class="blue-link">{{reply.replier}}</a>:
        <a href="javascript:void(0);" class="blue-link">@{{reply.to}}</a>
        <span>{{reply.replyContent}}</span>
      </p>
      <div class="comment-footer clearfix">
              <span class="publish-time pull-left" style="margin-top:0px;">
                {{reply.replyTime}}
              </span>
        <a ng-if="childComment.replier == user.username" class="like delete" href="javascript:void(0);" (click)="deleteReply(comment, reply)">
          <span>delete</span>
        </a>
        <a class="like delete-reply" href="javascript:void(0);" (click)="showReplyDialog(comment, reply.replier)">
          <span>reply</span>
        </a>
      </div>
    </div>

    <form id="childComment" *ngIf="tmpReply.isShow && tmpReply.commentId == comment.id" novalidate>
      <div class="comment-text">
        <textarea name="content" autofocus maxlength="2000" [(ngModel)]="tmpReply.replyContent"></textarea>
        <div style="text-align:right;">
          <button class="btn btn-sm btn-default" style="float:left;" (click)="hideReplyDialog()">Cancel</button>
          <button class="btn btn-sm btn-info" (click)="addReply()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--</div>-->

<!--<div class="modal fade" id="commentModal" tabindex="-1" role="dialog"-->
     <!--aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close"-->
                <!--data-dismiss="modal" aria-hidden="true">-->
          <!--&times;-->
        <!--</button>-->
        <!--<h4 class="modal-title" id="myModalLabel">-->
          <!--Delete-->
        <!--</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--确定删除评论?-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
        <!--<button type="button" class="btn btn-danger" ng-click="confirm()">确认</button>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

<!--<div class="modal fade" id="slcModal" tabindex="-1" role="dialog"-->
     <!--aria-labelledby="myModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close"-->
                <!--data-dismiss="modal" aria-hidden="true">-->
          <!--&times;-->
        <!--</button>-->
        <!--<h4 class="modal-title" id="myModalLabel">-->
          <!--Delete-->
        <!--</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--确定删除评论?-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
        <!--<button type="button" class="btn btn-danger" ng-click="confirmSlc()">确认</button>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
