<div class="alert alert-warning hintDiv" id="hintDiv">
  <strong>Comment should not be empty.</strong>
</div>
<md-card class="comment-input-card" *ngIf="isShowComment">
<form id="comment"  novalidate>
  <md-input-container floatPlaceholder="auto" fxFlexFill>
      <textarea mdInput name="content" autofocus placeholder="add a comment..." maxlength="2000" [(ngModel)]="newCommentContent"></textarea>
  </md-input-container>
   <button md-button color="primary" (click)="showComment()">Cancel</button>
  <button md-button color="primary" (click)="addComment(postId)" class="cancel-button">Comment</button>
</form>
</md-card>

<md-card class="comment-list" *ngIf="comments?.length > 0">
  <!--first level comment-->
  <div class="first-level" *ngFor="let comment of comments">
    <div class="meta-top">
      <a href="javascript:void(0);">
        <img class="avatar" [src]="comment.avatar">
      </a>
      <p class="author">
        <a class="name" href="javascript:void(0);">{{comment.commenter}}</a>
      </p>
      <div class="comment-footer clearfix">
        <span class="publish-time pull-left" style="margin-top:0px;">{{comment.postTime | date:'medium'}}</span>
        <a *ngIf="comment.commenter == userName" class="like delete" href="javascript:void(0);" (click)="deleteComment(comment)">
          <span><md-icon color="primary">delete</md-icon></span>
        </a>
        <a class="like delete-reply" href="javascript:void(0);" (click)="showReplyDialog(comment, comment.commenter)">
          <span><md-icon color="primary">reply</md-icon></span>
        </a>
      </div>
    </div>
    <p class="content">{{comment.content}}</p>

    <!--second level comment-->
    <div class="second-level" *ngFor="let reply of comment.replies">
      <p class="reply">
        <a href="javascript:void(0);" class="blue-link">{{reply.replier}}</a>:
        <a href="javascript:void(0);" class="blue-link">@{{reply.toWho}}</a>
        <span>{{reply.replyContent}}</span>
      </p>
      <div class="comment-footer clearfix">
              <span class="publish-time pull-left" style="margin-top:0px;">
                {{reply.replyTime | date:'medium'}}
              </span>
        <!--[{{reply.replier }}] | [{{userName}}] {{  username == reply.replier}}-->
        <a *ngIf="userName == reply.replier" class="like delete" href="javascript:void(0);" (click)="deleteReply(reply)">
          <span><md-icon color="primary">delete</md-icon></span>
        </a>
        <a class="like delete-reply" href="javascript:void(0);" (click)="showReplyDialog(comment, reply.replier)">
         <md-icon color="primary"><span>reply</span></md-icon>
        </a>
      </div>
    </div>
    <div class="sec-editer">
    <form *ngIf="tmpReply.isShow && tmpReply.commentId == comment.id" id="childComment" novalidate>
     <md-input-container floatPlaceholder="auto" fxFlex="94">
        <textarea mdInput name="content" autofocus maxlength="2000" [(ngModel)]="tmpReply.replyContent"></textarea>
     </md-input-container>
      <button md-raised-button color="primary" (click)="addReply()" fxFlexAlign="center">Submit</button>
    </form>
    </div>
  </div>
</md-card>
