<div fxLayout="row">
  <md-list fxFlex="20" fxFlexOffset="2">
    <h2>Courses List</h2>
    <md-list-item *ngFor="let course of courseList">
      <a md-line (click)="onSelect(course)">
        <span>{{course.id}}</span></a>
      <md-icon (click)=deleteCourse(course)>clear</md-icon>
    </md-list-item>
  </md-list>
  <div *ngIf="selectedCourse" fxFlex="50" fxFlexOffset="4" class="course-detail-container">
    <h2>Course detail</h2>
    <div class="course-form">
      <form [formGroup]="courseForm" novalidate>
        <div class="from-group">
          <label class="center-block">ID</label>
          <md-input-container fxFlexFill>
            <input mdInput class="form-control" formControlName="id" #idContent>
            <md-hint align="end">{{idContent.value.length}} / 20</md-hint>
            <!--id:{{id}} {{courseForm.value | json}}-->
            <div *ngIf="courseForm.controls['id'].hasError('required') && courseForm.controls['id'].touched"
                 class="form-error-msg">
              id is required.
            </div>
            <div *ngIf="courseForm.controls['id'].hasError('minlength') && courseForm.controls['id'].touched"
                 class="form-error-msg">
              min length is 4.
            </div>
            <div *ngIf="courseForm.controls['id'].hasError('maxlength') && courseForm.controls['id'].touched"
                 class="form-error-msg">
              max length is 20.
            </div>
          </md-input-container>

          <label class="center-block">Name
            <md-input-container fxFlexFill>
              <input mdInput class="form-control" formControlName="name" required>
              <div *ngIf="courseForm.controls['name'].hasError('required') && courseForm.controls['name'].touched"
                   class="form-error-msg">
                name is required.
              </div>
            </md-input-container>
          </label>
        </div>

        <div class="from-group">
          <label class="center-block">School
            <md-input-container fxFlexFill>
              <input mdInput class="form-control" formControlName="school" required>
              <div *ngIf="courseForm.controls['school'].hasError('required') && courseForm.controls['school'].touched"
                   class="form-error-msg">
                school is required.
              </div>
            </md-input-container>
          </label>
        </div>


        <div class="from-group">
          <label class="center-block">Description</label>
          <md-input-container fxFlexFill>
            <textarea mdInput rows="3" class="form-control" formControlName="description" #content></textarea>
            <md-hint align="end">{{content.value.length}} / 256</md-hint>
            <div
              *ngIf="courseForm.controls['description'].hasError('required') && courseForm.controls['description'].touched"
              class="form-error-msg">
              description is required.
            </div>
            <div
              *ngIf="courseForm.controls['description'].hasError('minlength') && courseForm.controls['description'].touched"
              class="form-error-msg">
              min length is 4.
            </div>
            <div
              *ngIf="courseForm.controls['description'].hasError('maxlength') && courseForm.controls['description'].touched"
              class="form-error-msg">
              max length is 256.
            </div>
          </md-input-container>
        </div>
        <div class="tag-input">
          <!--<h3>Tags within an autocomplete component</h3>-->
          <tag-input [(ngModel)]="selectedCourse.tag"
                     [addOnBlur]="true"
                     [clearOnBlur]="true"
                     [maxItems]="5"
                     formControlName="tags">
            <tag-input-dropdown [autocompleteItems]="autocompleteItems">
            </tag-input-dropdown>
          </tag-input>
        </div>
        <div class="button">
          <button md-raised-button type="submit" [disabled]="!courseForm.valid" (click)="onSubmit()" color="primary">
            Save
          </button>
          <button md-raised-button color="primary" (click)="newCourse(selectedCourse)">new</button>
        </div>
      </form>
    </div>
  </div>
</div>
