.question-main-card{
  padding:5px 10px;
}

.question-time{
  float: right;
}
.question-footer{
  }
.answer-content > img{
  background-size: cover;
  height: 200px;
  width: 100%;
}
.answer-but{
  float: right;
}
.submit-answer-but{
  float: right;
  margin-right: 5px;
  bottom: 10px;
}

.up{
  border-radius: 3px;
  padding: 5px 0px;
  width: 60px;
  height: 20px;
  text-align: center;
  display: inline-block;
  background: #ebf3fb;
  border-color: #ebf3fb;
  color:#2d84cc;
  &:hover {
    background: #2d84cc;
    border-color: #ebf3fb;
    color: white;
  }
}
.down{
  border-radius: 3px;
  padding-top: 5px;
  width: 30px;
  height: 25px;
  text-align: center;
  display: inline-block;
  background: #ebf3fb;
  border-color: #ebf3fb;
  color:#2d84cc;
  &:hover{
    background: #2d84cc;
    border-color: #ebf3fb;
    color:white;
  }
}
.upClick{
  background: #2d84cc;
  border-color: #ebf3fb;
  color:white;
}

.comment-icon-but{
  float: right;
}
.editor-divider{
  margin-top: 20px;
}
