<!-- Question -->
<md-card class="question-main-card">
      <md-chip selected *ngFor="let tag of question.tags">
        {{ tag.name }}
      </md-chip>
      <button md-icon-button class="answer-but">
        <md-icon color="primary">add</md-icon>
      </button>
      <button md-icon-button class="answer-but">
        <md-icon color="primary">mode_edit</md-icon>
      </button><p>
    <h3>{{ question.title }}</h3>
    <p>
      {{ question.description }}
    </p>
  <div class="question-footer">
    <md-icon class="favoite-but" color="primary">favorite_border</md-icon>
    <span class="question-time">
      {{ question.postTime }}
    </span>
  </div>
</md-card>

<!-- answer -->
<md-card class="question-main-card" *ngFor="let answer of answers">
  <md-card-header fxLayout="row">
    <div md-card-avatar>
      <a href="" class="toolbar-avatar md mr-1">
        <img src="{{ answer.avatar }}">
      </a>
    </div>
    <div fxFlexOffset="1">
      <span><strong>{{ answer.author }}</strong></span><br><span>computer science</span>
    </div>
    <button md-icon-button fxFlexOffset="1">
      <md-icon color="primary">add_box</md-icon>
    </button>
  </md-card-header>
  <md-card-content>
    <div class="answer-content">
      <p>{{ answer.content }}</p>
    </div>
  </md-card-content>
  <div class="question-footer">
    <a (click)="!answer.isDown && doUp(answer)">
      <div class="up">&#9650;<span>{{ answer.likes }}</span></div>
    </a>
    <a (click)="!answer.isUp && doDown(answer)">
      <div class="down">&#9660;</div>
    </a>
    <button class="comment-icon-but" md-icon-button  (click)="showComment(answer)" ><md-icon color="primary">comment</md-icon></button>
  </div>

  <div *ngIf="answer.isShowComment">
    <app-comment [type]="commentType"></app-comment>
  </div>

</md-card>

<!-- add answer -->
<md-card class="question-main-card">
  <p>
    <md-card-header fxLayout="row">
      <div md-card-avatar>
        <a href="" class="toolbar-avatar md mr-1">
          <img src="assets/images/face-2.jpg">
        </a>
      </div>
      <div fxFlexOffset="1">
        <span><strong>Shiba Inu</strong></span><br><span>computer science</span>
      </div>
    </md-card-header>
  <p></p>
  <P></P>
  <md-divider></md-divider>

  <md-card-content class="p-0">
    <quill-editor
      theme="snow"
      [(ngModel)]="editorData"
      (onContentChanged)="onContentChanged()"
      onSelectionChanged="onSelectionChanged()"></quill-editor>
    <button md-raised-button color="primary" class="submit-answer-but">submit</button>
  </md-card-content>
</md-card>

