

$font-size: 15px;
$line-height: 1.4;
$lines-to-show: 3;
.ask-question-card {
  padding: 5px 20px 10px;
}
.comment-input {
  width: 450px;
  height: 80px;
  top: auto;
  bottom: 10px;
}

.at-color {
  color: black;
}

.delete {
  float: right;
  font-size: 18px;
}

.reply {
  float: left;
  font-size: 18px;
}

.second-level {
  display: inline-block;
  margin-top: 10px;
}

.comment-divider {
  margin-top: 30px;
}
.comment-summit{
  float: right;
  font-size: 18px;
  display: inline-block;
}
.experience-content{
p{
  display:block ;
  height: $font-size*$line-height*$lines-to-show;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0 auto;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
}

