<h2 md-dialog-title>Ask Question</h2>
<form #askForm="ngForm" (ngSubmit)="askQuestion()">
  <md-dialog-content>
    <div fxLayout="column" fxLayoutWrap="wrap">
      <md-form-field class="full-width" fxFlexFill>
        <input
          mdInput
          #message
          name="title"
          maxlength="24"
          required
          [(ngModel)]="askData.title"
          placeholder="Question">
        <!--<md-hint align="start"><strong>Describe your question.</strong> </md-hint>-->
        <md-hint align="end">{{message.value.length}} / 24</md-hint>
      </md-form-field>

      <md-form-field class="full-width" fxFlexFill>
        <textarea mdInput
                  #description
                  name="description"
                  maxlength="256"
                  required
                  rows="3"
                  [(ngModel)]="askData.description"
                  placeholder="(Optional) describe your question..."></textarea>
        <md-hint align="end">{{description.value.length}} / 256</md-hint>
      </md-form-field>
    </div>

    <div class="tag-input">
      <!--<h3>Tags within an autocomplete component</h3>-->
      <tag-input [(ngModel)]="items"
                 [addOnBlur]="true"
                 [clearOnBlur]="true"
                 [maxItems]="5"
                 name="tags">
        <tag-input-dropdown [autocompleteItems]="autocompleteItems">
        </tag-input-dropdown>
      </tag-input>

    </div>

  </md-dialog-content>

  <md-dialog-actions fxLayoutAlign="end">
    <button md-raised-button md-dialog-close>Cancel</button>
    <button md-raised-button [md-dialog-close]="true" color="primary" [disabled]="askForm.invalid" (click)="askQuestion()">Save</button>
  </md-dialog-actions>
</form>

