<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div
        fxFlex="100"
        fxFlex.gt-xs="100">
        <md-card class="ask-question-card">
          <md-card-content class="full-width">
            <div fxFlex="88">
              <tag-input [(ngModel)]="tags"
                         [addOnBlur]="true"
                         [clearOnBlur]="true"
                         [maxItems]="1"
                         placeholder="Search the question..."
                         (onAdd)="onAdd($event)"
                         (onRemove)="onRemove($event)"
                         name="tags">
                <tag-input-dropdown [autocompleteItems]="autoCompleteTags">
                </tag-input-dropdown>
              </tag-input>
            </div>
            <div class="ask-question-but">
              <button md-raised-button color="primary" (click)="showQuestionDialog()">Ask Question</button>
            </div>

          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>

  <div fxFlex="100">
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div
        fxFlex="100"
        fxFlex.gt-xs="50" *ngFor="let question of questionList">

        <md-card class="default">
          <md-card-title>
            <a [routerLink]="['/question/detail',question.id]"><span>{{question.title}}</span></a>
          </md-card-title>
          <md-card-subtitle>
            <md-chip selected *ngFor="let tag of question?.tags">
              {{ tag.name }}
            </md-chip>
          </md-card-subtitle>
          <md-card-content>
            <p>
              {{question.description}}
            </p>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions>
            <button md-icon-button (click)="onLike(question)">
              <md-icon class="text-muted" color="primary">{{question.liked ? "favorite":"favorite_border"}}</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="text-muted">share</md-icon>
            </button>
          </md-card-actions>
        </md-card>
      </div>

    </div>
  </div>

  <div fxFlex="100" class="course-paginator">
    <md-paginator
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)">
    </md-paginator>
  </div>

</div>
