 <div fxLayout="row">
   <div class="answer-container" fxFlex="70" fxLayout="column">
  <md-card class="question-card">
      <span class="ask-question" (click)=openDialog()><strong>What is you question?</strong></span>
      <div *ngIf="show">
          <md-input-container floatPlaceholder="auto" class="md-question-container">
            <input mdInput [(ngModel)]="modelName" type="text"
                   placeholder="">
          </md-input-container>
      </div>
  </md-card>
      <md-card>
          <h4> <strong> What was the weirdest compliment you've ever received?</strong></h4>
        question card
      </md-card>
    </div>



</div>
