$font-size: 15px;
$line-height: 1.4;
$lines-to-show: 3;

.ask-question {
  font-size: large;
  font-family: "Roboto", Helvetica Neue, sans-serif;
  color: silver;
  :hover {
    color: #1b688e;
  }
}

.question-card {
  padding: 10px;
  p {
    display: block;
    height: $font-size*$line-height*$lines-to-show;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.course-paginator md-paginator {
  margin: 6px;
}

.ask-question-but {
  padding-top: 5px;
  padding-bottom: 5px;
  left: 20px;
  margin-top: 6px;
  margin-left: 20px;
}

.ask-question-card {
  padding: 5px 20px 10px;
}

.question-chips {
  margin-left: 5px;
}
.question-btn {
  margin:10px;
}
