<div fxLayout="row">
<!--<md-nav-list fxFlex="25">-->
  <!--<md-list-item (click)="showaddform()"><span class="new-question">Add New Question</span></md-list-item>-->
  <!--<md-list-item *ngFor="let question of questionList"(click)="onSelect(question)">-->
    <!--{{question.id}} <span class="question-title">{{question.title}}</span>-->
  <!--</md-list-item>-->
<!--</md-nav-list>-->

<!--<div *ngIf="selectedQuestion" fxFlex="30" fxFlexOffset="1">-->
  <!--<app-admin-question-detail [question]="selectedQuestion"></app-admin-question-detail>-->
<!--</div>-->

  <md-nav-list  fxFlex="40">
    <md-list-item *ngFor="let question of questionList"><a md-line (click)="onSelect(question)">{{question.title}}</a> <button class="delect-button" md-icon-button (click)="delectQuestion(selectedQuestion)"><md-icon color="primary">clear</md-icon></button>
    </md-list-item>
  </md-nav-list>
  <div class="question-detail" *ngIf="selectedQuestion" fxFlex="50" fxFlexOffset="2">
    <h4>Question Detail</h4>
    <table>
      <tr>ID:<td>{{selectedQuestion.id}}</td></tr>
      <tr>Title:<td>{{selectedQuestion.title}}</td></tr>
      <tr>Author:<td>{{selectedQuestion.author}}</td></tr>
      <tr>postTime:<td>{{selectedQuestion.postTime}}</td></tr>
      <tr>Content:<td>{{selectedQuestion.description}}</td></tr>
      <tr>Tags:<td>{{selectedQuestion.tags}}</td></tr>
    </table>
  </div>
  <!--<div fxFlex="30" *ngIf="show" fxFlexOffset="1">-->
  <!--<h4>New Question</h4>-->
  <!--<form [formGroup] ="questionForm" novalidate>-->
    <!--<div class = "from-group">-->
      <!--<label class="center-block">ID-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput class="form-control" formControlName="id" required>-->
        <!--</md-input-container>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class = "from-group">-->
      <!--<label class="center-block">Title-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput class="form-control" formControlName="title" required></md-input-container>-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class = "from-group">-->
      <!--<label class="center-block">Author-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput class="form-control" formControlName="author" required>-->
        <!--</md-input-container>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class = "from-group">-->
      <!--<label class="center-block">Description-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput class="form-control" formControlName="description">-->
        <!--</md-input-container>-->
      <!--</label>-->
    <!--</div>-->
    <!--<div class = "from-group">-->
      <!--<label class="center-block">postTime-->
        <!--<md-input-container fxFlexFill>-->
          <!--<input mdInput="" class="form-control" formControlName="postTime">-->
        <!--</md-input-container>-->
      <!--</label>-->
    <!--</div>-->
    <!--<button md-raised-button>Sunmit</button>-->
  <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->
</div>
