.comment-content{
  height:50px;
  text-align:start;
}
.comment-full-width{
  width: 90%;
  display: inline-block;
}
.comment-delect-icon{
  font-size: 18px;
  margin-right: 10px;
}
.comment-card{
  margin-top: 15px;
}
.comment-publish-button{
  display: inline-block;
}
.comment-publish-icon{
  font-size: 18px;
}
