<div class="add-comment-container">
  <md-card class="add-comment-card">
    <md-card-content>
      <form role="form">
        <div fxLayout="row">
          <md-input-container class="comment-full-width" fxFlex="90">
        <textarea mdInput
                  #characterCountTextareaHintExample
                  placeholder="comment"
                  maxLength="200"></textarea>
            <md-hint align="end" aria-live="polite">
              {{characterCountTextareaHintExample.value.length}} / 200
            </md-hint>
          </md-input-container>

        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
<div *ngFor="let comment of comments" class="comment-item-container">
    <md-card class="user-card p-0">
      <md-card-title class="mat-bg-primary">
        <div class="card-title-text">
          <a href="" class="toolbar-avatar md mr-1"><img src="../../../assets/images/face-2.jpg" alt=""></a>
          <span>{{comment.username}}</span>
          <span fxFlex></span>
          <button md-icon-button [mdMenuTriggerFor]="userMenu" class="">
            <md-icon class="">more_vert</md-icon>
          </button>
          <md-menu #userMenu="mdMenu">
            <button md-menu-item>Follow</button>
            <button md-menu-item>Message</button>
            <button md-menu-item>Block</button>
            <button md-menu-item>Delete</button>
          </md-menu>
        </div>
        <md-divider></md-divider>
      </md-card-title>
    <md-card-content>
      <h5>{{comment.content}}</h5>
    </md-card-content>
    <md-card-footer fxFlexOffset="3">
      <a routerLink=".">
        <svg fill="silver" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path
            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
        </svg>
      </a>
      <span>  </span>
      <a routerLink=".">
        <svg fill="silver" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>
    </md-card-footer>
  </md-card>
</div>

