

<h4>Question detail</h4>
<form [formGroup] ="questionForm" novalidate>
  <div class = "from-group">
    <label class="center-block">ID
      <md-input-container fxFlexFill>
        <input mdInput class="form-control" formControlName="id" required>
      </md-input-container>
    </label>
  </div>
  <div class = "from-group">
    <label class="center-block">Title
      <md-input-container fxFlexFill>
        <input mdInput class="form-control" formControlName="title" required></md-input-container>
    </label>
  </div>

  <div class = "from-group">
    <label class="center-block">Author
      <md-input-container fxFlexFill>
        <input mdInput class="form-control" formControlName="author" required>
      </md-input-container>
    </label>
  </div>
  <div class = "from-group">
    <label class="center-block">Description
      <md-input-container fxFlexFill>
        <input mdInput class="form-control" formControlName="description">
      </md-input-container>
    </label>
  </div>
  <div class = "from-group">
    <label class="center-block">postTime
      <md-input-container fxFlexFill>
        <input mdInput="" class="form-control" formControlName="postTime">
      </md-input-container>
    </label>
  </div>
  <button md-raised-button type="submit" (click)="onSubmit()"
          class="btn btn-success">Save</button> &nbsp;
  <button md-raised-button type="reset" (click)="revert()"
          class="btn btn-danger">Revert</button>
</form>
