
<md-card>
  <md-card-header fxLayout="row">
    <div md-card-avatar>
      <a href="" class="toolbar-avatar md mr-1">
        <img src="../../../assets/images/face-2.jpg">
      </a>
    </div>
    <div fxFlexOffset="1">
      <span><strong>Shiba Inu</strong></span><br><span>Jul 8</span>
    </div>
    <button md-icon-button fxFlexOffset="1">
      <md-icon color="primary">add_box</md-icon>
    </button>
  </md-card-header>
  <md-card-content>
    <p></p>
    <h3>TypeScript vs JavaScript</h3>
    <p>
      TypeScript is JavaScript with types, to put it simple.
      How do I install?
      npm i -D typescript
      Does it work on Linux/Mac?
      Yes
      Does my editor support it?
      VSCode, Atom, Vim, Sublime… See more here
      Do I have to learn a whole new language? Like CoffeeScript, Dart…?
      No! Absolutely no! If you know JavaScript you know 95%. The remaining 5% or less is basically configuration.
      Any big companies using it?
      Microsoft, Google… and over 120 that you can check here.
      Does it support React?
      Yes. `.tsx` files.
      Have you ever coded a real project with it?
      Yes and I actually kept it compatible with the architecture of other (js) projects in my company. One of the
      projects is scaling.
      How many bugs did you prevent?
      Over 9000… A lot and very recently I found a bug in production in a very big project that would never happen if it
      was coded in TypeScript.
      Do you still use babel?
      Not if I get to choose which version of node I will be using. For some old versions some polyfills are really
      good… TypeScript does not add polyfills, it does not change your code more than enough to support a few ES
      features. You can check it out for yourself on TypeScript playground, the playground targets ES3, so if you use
      arrow functions or async/await TypeScript will “alter” your code.
      Basic usage
      You can annotate your code with types to catch errors during “compile” time (development time if you use a
      IDE/extension with support to TS) rather than catching errors in production.
      TypeScript is JavaScript with types, to put it simple.
      How do I install?
      npm i -D typescript
      Does it work on Linux/Mac?
      Yes
      Does my editor support it?
      VSCode, Atom, Vim, Sublime… See more here
      Do I have to learn a whole new language? Like CoffeeScript, Dart…?
      No! Absolutely no! If you know JavaScript you know 95%. The remaining 5% or less is basically configuration.
      Any big companies using it?
      Microsoft, Google… and over 120 that you can check here.
      Does it support React?
      Yes. `.tsx` files.
      Have you ever coded a real project with it?
      Yes and I actually kept it compatible with the architecture of other (js) projects in my company. One of the
      projects is scaling.
      How many bugs did you prevent?
      Over 9000… A lot and very recently I found a bug in production in a very big project that would never happen if it
      was coded in TypeScript.
      Do you still use babel?
      Not if I get to choose which version of node I will be using. For some old versions some polyfills are really
      good… TypeScript does not add polyfills, it does not change your code more than enough to support a few ES
      features. You can check it out for yourself on TypeScript playground, the playground targets ES3, so if you use
      arrow functions or async/await TypeScript will “alter” your code.
      Basic usage
      You can annotate your code with types to catch errors during “compile” time (development time if you use a
      IDE/extension with support to TS) rather than catching errors in production.
      TypeScript is JavaScript with types, to put it simple.
      How do I install?
      npm i -D typescript
      Does it work on Linux/Mac?
      Yes
      Does my editor support it?
      VSCode, Atom, Vim, Sublime… See more here
      Do I have to learn a whole new language? Like CoffeeScript, Dart…?
      No! Absolutely no! If you know JavaScript you know 95%. The remaining 5% or less is basically configuration.
      Any big companies using it?
      Microsoft, Google… and over 120 that you can check here.
      Does it support React?
      Yes. `.tsx` files.
      Have you ever coded a real project with it?
      Yes and I actually kept it compatible with the architecture of other (js) projects in my company. One of the
      projects is scaling.
      How many bugs did you prevent?
      Over 9000… A lot and very recently I found a bug in production in a very big project that would never happen if it
      was coded in TypeScript.
      Do you still use babel?
      Not if I get to choose which version of node I will be using. For some old versions some polyfills are really
      good… TypeScript does not add polyfills, it does not change your code more than enough to support a few ES
      features. You can check it out for yourself on TypeScript playground, the playground targets ES3, so if you use
      arrow functions or async/await TypeScript will “alter” your code.
      Basic usage
      You can annotate your code with types to catch errors during “compile” time (development time if you use a
      IDE/extension with support to TS) rather than catching errors in production.
      TypeScript is JavaScript with types, to put it simple.
      How do I install?
      npm i -D typescript
      Does it work on Linux/Mac?
      Yes
      Does my editor support it?
      VSCode, Atom, Vim, Sublime… See more here
      Do I have to learn a whole new language? Like CoffeeScript, Dart…?
      No! Absolutely no! If you know JavaScript you know 95%. The remaining 5% or less is basically configuration.
      Any big companies using it?
      Microsoft, Google… and over 120 that you can check here.
      Does it support React?
      Yes. `.tsx` files.
      Have you ever coded a real project with it?
      Yes and I actually kept it compatible with the architecture of other (js) projects in my company. One of the
      projects is scaling.
      How many bugs did you prevent?
      Over 9000… A lot and very recently I found a bug in production in a very big project that would never happen if it
      was coded in TypeScript.
      Do you still use babel?
      Not if I get to choose which version of node I will be using. For some old versions some polyfills are really
      good… TypeScript does not add polyfills, it does not change your code more than enough to support a few ES
      features. You can check it out for yourself on TypeScript playground, the playground targets ES3, so if you use
      arrow functions or async/await TypeScript will “alter” your code.
      Basic usage
      You can annotate your code with types to catch errors during “compile” time (development time if you use a
      IDE/extension with support to TS) rather than catching errors in production.
      TypeScript is JavaScript with types, to put it simple.
      How do I install?
      npm i -D typescript
      Does it work on Linux/Mac?
      Yes
      Does my editor support it?
      VSCode, Atom, Vim, Sublime… See more here
      Do I have to learn a whole new language? Like CoffeeScript, Dart…?
      No! Absolutely no! If you know JavaScript you know 95%. The remaining 5% or less is basically configuration.
      Any big companies using it?
      Microsoft, Google… and over 120 that you can check here.
      Does it support React?
      Yes. `.tsx` files.
      Have you ever coded a real project with it?
      Yes and I actually kept it compatible with the architecture of other (js) projects in my company. One of the
      projects is scaling.
      How many bugs did you prevent?
      Over 9000… A lot and very recently I found a bug in production in a very big project that would never happen if it
      was coded in TypeScript.
      Do you still use babel?
      Not if I get to choose which version of node I will be using. For some old versions some polyfills are really
      good… TypeScript does not add polyfills, it does not change your code more than enough to support a few ES
      features. You can check it out for yourself on TypeScript playground, the playground targets ES3, so if you use
      arrow functions or async/await TypeScript will “alter” your code.
      Basic usage
      You can annotate your code with types to catch errors during “compile” time (development time if you use a
      IDE/extension with support to TS) rather than catching errors in production.
    </p>
  </md-card-content>
  <md-card-actions fxFlexOffset="1">
    <md-chip selected>COMP9322</md-chip>
    <md-chip selected>COMP9322</md-chip>
    <md-chip selected>COMP9322</md-chip>
  </md-card-actions>
  <md-divider></md-divider>
  <md-card-actions fxFlexOffset="1">
    <button md-icon-button>
      <md-icon color="primary">favorite_border</md-icon>
    </button>
    <span fxFlex></span>
    <button md-icon-button>
      <md-icon color="primary">comment_border</md-icon>
    </button>
  </md-card-actions>


  <app-comment [type]="commentType"></app-comment>

</md-card>

