<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <md-card class="user-card p-0">
      <md-card-title class="mat-bg-primary">
        <div class="card-title-text">
          <span>{{ course.code }}</span>
          <span fxFlex></span>
          <button md-icon-button [mdMenuTriggerFor]="userMenu" class="">
            <md-icon class="">more_vert</md-icon>
          </button>
          <md-menu #userMenu="mdMenu">
            <button md-menu-item>Save</button>
          </md-menu>
        </div>
        <md-divider></md-divider>
      </md-card-title>
      <md-card-content>
        <!-- user detail lines-->
        <div class="user-details">
          <p>
            <md-icon class="text-muted">card_membership</md-icon>
            {{ course.name }}
          </p>
          <p>
            <md-icon class="text-muted">date_range</md-icon>
            {{ course.career }}
          </p>
          <p>
            <md-icon class="text-muted">location_on</md-icon>
            {{ course.school }}
          </p>
          <md-divider class="mat-bg-primary"></md-divider>
          <div class="course-description">
            <!--<md-icon class="text-muted">drafts</md-icon>-->
            <div [innerHTML]="course.description"></div>
            <!--{{ course.description }}-->
          </div>
        </div>

      </md-card-content>
      <md-card-footer class="course-detail-footer"></md-card-footer>
    </md-card>

    <app-comment [type]="commentType"></app-comment>
    <!--<app-course-comment></app-course-comment>-->
  </div>
</div>



