<div class="user-profile-page" fxLayout="column">
<div fxFlex="row">
<md-card fxFlex="80" fxLayout="column">
  <div class="bg-images-container">
      <img md-card-image class="bg-images"  src="../../../assets/images/sq-6.jpg">
  </div>
    <div class="button-group" fxLayout="row">
        <img class="user-image" md-card-avatar  md-card-md-image src="../../../assets/images/face-4.jpg">
      <h4 class="user-name">Taylor Alison Swift</h4>
      </div>

  <button md-mini-fab="focus" color="primary" fxFlexOffset="88"><md-icon>favorite</md-icon></button>
  <div class="user-info">
    <md-tab-group>
      <md-tab label="information"><md-list>
        <md-list-item>Taylor Alison Swift</md-list-item>
        <md-list-item>Taylor Alison Swift</md-list-item>
        <md-list-item>Taylor Alison Swift</md-list-item>
        <md-list-item>Taylor Alison Swift</md-list-item>
      </md-list></md-tab>
    <md-tab label="publish">Content 2</md-tab>
    <md-tab label="answer">Content 2</md-tab>
    <md-tab label="experience">Content 2</md-tab>
  </md-tab-group>
  </div>
</md-card>

</div>
</div>








